[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
flask-login = "*"
flask-cors = "*"
flask-testing = "*"
spacy = "*"
scrapy = "*"
tensorflow = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
